<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--************Log txt*************-->
  <appender name="LOG_INFO" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="C:\Logs" />
    <param name="Encoding" value="UTF-8" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="yyyyMMdd'_INFO.txt'" />
    <param name="StaticLogFileName" value="false" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{dd/MM/yyyy-HH:mm:ss,fff}|%thread|%C{1}.%M,%L|  %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <acceptOnMatch value="true" />
    </filter>
  </appender>

  <appender name="LOG_ERROR" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="C:\Logs\ClaimPromotionWebAdmin_" />
    <param name="Encoding" value="UTF-8" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="yyyyMMdd'_ERROR.txt'" />
    <param name="StaticLogFileName" value="false" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <threshold value="ERROR" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{dd/MM/yyyy-HH:mm:ss,fff}|%thread|%C{1}.%M,%L|  %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <acceptOnMatch value="true" />
    </filter>
  </appender>

  <root>
    <level value="All" />
    <appender-ref ref="LOG_INFO" />
    <appender-ref ref="LOG_ERROR" />
  </root>

</log4net>